factory/pipelines/PL_Day04_Load_Processed_To_SQL.json
{
  "name": "PL_Day04_Load_Processed_To_SQL",
  "properties": {
    "annotations": [],
    "parameters": {
      "date_folder": {
        "type": "string",
        "defaultValue": "@formatDateTime(utcNow(),'yyyy-MM-dd')"
      },
      "source_root": {
        "type": "string",
        "defaultValue": "processed"
      }
    },
    "variables": {
      "v_currentFolder": {
        "type": "String"
      },
      "v_runlog": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "GetMetadata_Folders",
        "type": "GetMetadata",
        "typeProperties": {
          "dataset": {
            "referenceName": "DS_Processed_Param",
            "type": "DatasetReference",
            "parameters": {
              "subfolder": {
                "value": "",
                "type": "Expression"
              },
              "datefolder": {
                "value": "",
                "type": "Expression"
              },
              "filename": {
                "value": "",
                "type": "Expression"
              }
            }
          },
          "fieldList": [
            "childItems"
          ]
        }
      },
      {
        "name": "ForEach_Folders",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "GetMetadata_Folders",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('GetMetadata_Folders').output.childItems",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Set_CurrentFolder_Var",
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "v_currentFolder",
                "value": {
                  "value": "@item().name",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetMetadata_Files",
              "type": "GetMetadata",
              "typeProperties": {
                "dataset": {
                  "referenceName": "DS_Processed_Param",
                  "type": "DatasetReference",
                  "parameters": {
                    "subfolder": {
                      "value": "@variables('v_currentFolder')",
                      "type": "Expression"
                    },
                    "datefolder": {
                      "value": "@pipeline().parameters.date_folder",
                      "type": "Expression"
                    },
                    "filename": {
                      "value": "",
                      "type": "Expression"
                    }
                  }
                },
                "fieldList": [
                  "childItems"
                ]
              }
            },
            {
              "name": "ForEach_Files",
              "type": "ForEach",
              "dependsOn": [
                {
                  "activity": "GetMetadata_Files",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "items": {
                  "value": "@activity('GetMetadata_Files').output.childItems",
                  "type": "Expression"
                },
                "isSequential": true,
                "activities": [
                  {
                    "name": "Copy_File_To_Appropriate_Staging",
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "BinarySource"
                      },
                      "sink": {
                        "type": "AzureSqlSink"
                      },
                      "enableStaging": false
                    },
                    "inputs": [
                      {
                        "referenceName": "DS_Processed_Param",
                        "type": "DatasetReference",
                        "parameters": {
                          "subfolder": {
                            "value": "@variables('v_currentFolder')",
                            "type": "Expression"
                          },
                          "datefolder": {
                            "value": "@pipeline().parameters.date_folder",
                            "type": "Expression"
                          },
                          "filename": {
                            "value": "@item().name",
                            "type": "Expression"
                          }
                        }
                      }
                    ],
                    "outputs": [
                      {
                        "referenceName": "DS_SQL_Stg_Sales",
                        "type": "DatasetReference"
                      }
                    ]
                  },
                  {
                    "name": "SP_Log_File",
                    "type": "SqlServerStoredProcedure",
                    "typeProperties": {
                      "storedProcedureName": "dbo.usp_InsertIngestAudit",
                      "storedProcedureParameters": {
                        "FileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        },
                        "FolderName": {
                          "value": "@concat(variables('v_currentFolder'),'/',pipeline().parameters.date_folder)",
                          "type": "Expression"
                        },
                        "Status": {
                          "value": "Success",
                          "type": "Expression"
                        },
                        "RowsInserted": {
                          "value": 0,
                          "type": "Expression"
                        },
                        "Message": {
                          "value": "",
                          "type": "Expression"
                        }
                      }
                    },
                    "linkedServiceName": {
                      "referenceName": "LS_SQL_OrionDB",
                      "type": "LinkedServiceReference"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "lastPublishTime": "2025-11-17T12:56:21.701101Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines/pipeline"
}